<body background="#4682B4">
    <h1 align="center">Welcome to Murray Attractions website!!</h1>
    <table border="5" cellpadding="10px" cellspacing="10px" align="center">
        
        <tr>
            
            <td><a href="https://touristattractions-revanththirunagari.c9.io/static_pages/home">Home Page</a></td>
            <td><a href="https://touristattractions-revanththirunagari.c9.io/attractionsdbs/1/edit">Edit a attraction </a></td>
            <td><a href="https://touristattractions-revanththirunagari.c9.io/attractionsdbs">All attractions</a></td>
            <td><a href="https://touristattractions-revanththirunagari.c9.io/attractionsdbs/1/edit">Delete a attraction</a></td>
            <td><a href="#">Search</a></td>
            
            
            
            
            
            
        </tr>
        
        
        
        
        
        
    </table>
    
    
    
    
    
</body>